.sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 74px;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
    height: 76px;
}

.sidebar img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar div {
    font-family: Roboto, Arial;
    font-size: 10px;
}

/* .sidebar {
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 72px;
}

.sidebar button {
    background-color: #fff;
    height: 80px;
    width: 72px;
    border: none;
}

.sidebar button img {
    height: 25px;
    width: 25px;
}

.sidebar span {
    font-size: 10px;
}

.home {
    display: flex;
    flex-direction: column;
}

.library {
    display: flex;
    flex-direction: column;
}

.youtube-text {
    font-size: 10px;
} */